<nav class="navbar">
    <div class="container">
        <div class="flex">
            <div>
                <a class="brand" href="/">
                    
                    <span class="emoji">
                        😎
                    </span>
                    
                    The Dudes in Computer Science
                </a>
            </div>
            <div class="flex">
                
                <a href="/articles" >Bài viết</a>
                
                <button id="dark-mode-button"></button>
            </div>
        </div>
    </div>
</nav>

<div class="container">
<main>
<h1>404 NOT FOUND</h1>
</main>
</div>

<footer class="footer flex">
    <section class="container">
        <nav class="footer-links">
            
        </nav>
    </section>
    
    <script async src="/js/features.min.cb54200d744e5e9da0fa39e8ed570c19eac326f18a67904837ffada21795dfe2.js" data-enable-footnotes="true"></script>
</footer>
